{% extends "base1.html" %}


{% block content %}
<div class="table-card">
      <div class="row py-2 px-2">
        <div class="col">
            <h3>Hostels</h3>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Search..." 
            id="searchInput" value="{{ search_query }}">
        </div>
        <div class="col">
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newHostelModal">New Hostel</button>
        </div>
    </div>

      <div class="table-container px-2">
        <table class="table data-table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Campus</th>
              <th scope="col">Rooms</th>
              <th scope="col">Room Cost</th>
              <th scope="col">Capacity</th>
              <th scope="col">Gender</th>
              <th scope="col" colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            {% for hostel in page_obj %}
            <tr>
              <td>{{hostel.id}}</td>
              <td>{{hostel.name}}</td>
              <td>{{hostel.campus}}</td>
              <td>{{hostel.rooms}}</td>
              <td>{{hostel.room_cost}}</td>
              <td>{{hostel.capacity}}</td>
              <td>{{hostel.gender}}</td>
              <td>
                <div class="d-flex gap-1">
                  <a href="{% url 'hostel-details' hostel.id %}" class="btn btn-info btn-sm"><i class="fas fa-eye"></i></a>
                  <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editHostelModal{{ hostel.id }}">
                    <i class="fas fa-pencil"></i>
                  </a>
                  <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteHostelModal{{ hostel.id }}">
                    <i class="fas fa-trash"></i>
                  </a>
                </div>
              </td>
             {% include "hostels/edit_hostel.html" %}
             {% include "hostels/delete_hostel.html" %}
            </tr>
            
            {% endfor %}

          </tbody>
        </table>
        <div class="mt-2">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
      </div>
{% endblock content %}