<div class="modal fade" id="uploadLeadsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Upload Leads</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'upload-leads' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="row mb-3">
                <div class="col">
                  <label for="exampleInputPassword1" class="form-label fw-bold">Leads File</label>
                  <input
                    type="file"
                    class="form-control"
                    id="leads_file"
                    name="leads_file"
                    accept=".csv, .xlsx"
                    required
                  />
                </div>
                </div>
                           
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Upload Leads</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>