<div class="modal fade" id="editStudentModal{{student.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Edit Student Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'edit-student' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                <input type="number" id="student_id" name="student_id" value="{{student.id}}" hidden readonly required />
                  <div class="row mb-3">
                <div class="col">
                  <label for="exampleInputPassword1" class="form-label fw-bold">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="first_name"
                    name="first_name"
                    value="{{ student.user.first_name }}"
                    required
                  />
                </div>
                <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Last Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="last_name"
                      name="last_name"
                      value="{{ student.user.last_name }}"
                      required
                    />
                  </div>
                </div>
               
                <div class="row mb-3">
                  <div class="col">
                    <label class="form-label fw-bold">Gender</label>
                    <select class="form-select" id="gender" name="gender">
                        <option value="{{student.user.gender}}">{{student.user.gender}}</option>
                        {% for gender in gender_choices %}
                            {% if gender != student.user.gender %}
                                <option value="{{gender}}">{{gender}}</option>
                            {% endif %}
                        {% endfor %}
                      </select>
                  </div>
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Date of Birth</label>
                      <input
                        type="date"
                        class="form-control"
                        id="date_of_birth"
                        name="date_of_birth"
                        value="{{ student.user.date_of_birth|date:'Y-m-d'}}"
                        required
                      />
                  </div>  
                </div>

              
                <div class="row mb-3">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Registration Number</label>
                    <input
                      type="text"
                      class="form-control"
                      id="registration_number"
                      name="registration_number"
                      value="{{ student.registration_number }}"
                      required
                    />
                </div>
                  
                </div>
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Edit Student Data</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>