<div class="modal fade" id="editStudentGuardianModal{{student.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Edit Student Guardian Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'edit-student' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                <input type="number" id="student_id" name="student_id" value="{{student.id}}" hidden readonly required />
                 
                <div class="row mb-3">
                    <div class="col">
                      <label for="exampleInputPassword1" class="form-label fw-bold">Guardian Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="guardian_name"
                        name="guardian_name"
                        value="{{ student.guardian_name }}"
                        required
                      />
                    </div>
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label fw-bold">Guardian Relationship</label>
                        <select class="form-select" id="guardian_relationship" name="guardian_relationship">
                            <option value="{{student.guardian_relationship}}">{{student.guardian_relationship}}</option>
                            {% for relationship in relationship_choices %}
                                {% if relationship != student.guardian_relationship %}
                                    <option value="{{relationship}}">{{relationship}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    
                    </div>

                <div class="row mb-3">
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label fw-bold">Guardian Phone Number</label>
                        <input
                          type="text"
                          class="form-control"
                          id="guardian_phone_number"
                          name="guardian_phone_number"
                          value="{{ student.guardian_phone_number }}"
                          required
                        />
                      </div>
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Guardian Email</label>
                    <input
                      type="text"
                      class="form-control"
                      id="guardian_email"
                      name="guardian_email"
                      value="{{ student.guardian_email }}"
                      required
                    />
                  </div>   
                </div>
               
                
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Edit Guardian Details</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>