{% extends "base1.html" %}

{% block content %}

  <!-- Student Personal Details -->
  <div class="card mb-4">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h5 class="card-title mb-0">Personal Details</h5>
        </div>
        <div class="col d-flex justify-content-end">
          <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editStudentModal{{student.id}}"><i class="fas fa-edit"></i></a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <img src="https://via.placeholder.com/150" alt="Student Photo" class="img-fluid rounded mb-3">
        </div>
        <div class="col-md-9">
          <p><strong>Name:</strong> {{student.user.name}}</p>
          <p><strong>Reg. Number:</strong> {{student.registration_number}}</p>
          <p><strong>Date of Birth:</strong> {{student.user.date_of_birth}}</p>
          <p><strong>Gender:</strong> {{student.user.gender}}</p>
          <p><strong>Email:</strong> {{student.user.email}}</p>
          <p><strong>Phone:</strong> {{student.user.phone_number}}</p>
        </div>
      </div>
    </div>
  </div>
  {% include "students/edit_student.html" %}
  <!-- Course Details -->
  <div class="card mb-4">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h5 class="card-title mb-0">Programme Details</h5>
        </div>
        <div class="col d-flex justify-content-end">
          <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editStudentCohortModal{{student.id}}"><i class="fas fa-edit"></i></a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <p><strong>Course:</strong> {{student.programme}}</p>
      <p><strong>Year:</strong> {{student.cohort.current_year}}</p>
      <p><strong>Semester:</strong> {{student.cohort.current_semester}}</p>
      <p><strong>Department:</strong> Department of {{student.programme.department}}</p>
      <p><strong>Cohort:</strong> {{student.cohort}}</p>
    </div>
  </div>
{% include "students/edit_student_cohort.html" %}
  <!-- Contact Information -->
 <div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="card-title mb-0">Address Information</h5>
                </div>
                <div class="col d-flex justify-content-end">
                  <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editStudentAddressModal{{student.id}}"><i class="fas fa-edit"></i></a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <p><strong>Address:</strong> {{student.user.address}}</p>
              <p><strong>City:</strong> {{student.user.city}}</p>
              <p><strong>Postal Code:</strong> {{student.user.postal_code}}</p>
              <p><strong>State:</strong> {{student.user.state}}, {{student.user.country}}</p>
            </div>
          </div>
    </div>
    <div class="col-md-6">
        <!-- Guardian Information -->
      <div class="card mb-4">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="card-title mb-0">Guardian Information</h5>
            </div>
            <div class="col d-flex justify-content-end">
              <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editStudentGuardianModal{{student.id}}"><i class="fas fa-edit"></i></a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p><strong>Name:</strong> {{student.guardian_name}}</p>
          <p><strong>Relationship:</strong> {{student.guardian_relationship}}</p>
          <p><strong>Phone:</strong> {{student.guardian_phone_number}}</p>
          <p><strong>Email:</strong> {{student.guardian_email}}</p>
        </div>
      </div>
    </div>
 </div>
{% include "students/edit_student_guardian.html" %}
{% include "students/edit_student_address.html" %}
  <!-- Past Education History -->
  <div class="card mb-4">

    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h5 class="card-title mb-0">Education Records</h5>
        </div>
        <div class="col d-flex justify-content-end">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newEducationHistoryModal{{student.id}}">Record Education</button>
        </div>
      </div>
    </div>

    <div class="card-body">
        <table class="table table-sm table-responsive mb-0">
            <thead class="">
              <tr>
                <th>#</th>
                <th scope="col">School</th>
                <th scope="col">Level</th>
                <th scope="col">Year</th>
                <th scope="col">Grade/GPA</th>
                <th scope="col">Major</th>
                <th scope="col" colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              {% for history in education_history  %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ history.institution }}</td>
                <td>{{ history.level }}</td>
                <td>{{ history.year }}</td>
                <td>{{ history.grade_or_gpa }}</td>
                <td>{{ history.major }}</td>
                <td><a data-bs-toggle="modal" data-bs-target="#editEducationHistoryModal{{history.id}}" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i></a></td>
                <td><a data-bs-toggle="modal" data-bs-target="#deleteEducationHistoryModal{{history.id}}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a></td>
                {% include "education_history/edit_education_history.html" %}
                {% include "education_history/delete_education_history.html" %}
              </tr>
              {% endfor %}   
            </tbody>
          </table>
    </div>
  </div>
{% include "education_history/create_education_history.html" %}
<div class="card mb-4">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h5 class="card-title mb-0">Documents</h5>
        </div>
        <div class="col d-flex justify-content-end">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newStudentDocumentModal{{student.id}}">New Document</button>
        </div>
      </div>
    </div>

  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-sm table-responsive mb-0">
              <thead class="">
                  <tr>
                      <th>#</th>
                      <th>Document Type</th>
                      <th>Name</th>
                      <th>Added On</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  {% for document in documents %}
                  <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{document.document_type}}</td>
                      <td>{{document.document_name}}</td>
                      
                      <td>{{document.created_on}}</td>
                      <td>
                          <div class="d-flex gap-1">
                              <a href="{{document.document_file.url}}" target="_blank" class="btn btn-sm btn-outline-secondary">
                                  <i class="fas fa-download"></i>
                              </a>
                             
                              <a class="btn btn-sm btn-outline-primary" 
                              data-bs-toggle="modal" data-bs-target="#editStudentDocumentModal{{ document.id }}">
                                  <i class="fas fa-pencil"></i>
                              </a>
                              <a class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteStudentDocumentModal{{ document.id }}">
                                  <i class="fas fa-trash"></i>
                              </a>
                          </div>
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>
  <!-- Academic Performance -->
  <div class="card mb-4">
    <div class="card-header">
      <h5 class="card-title mb-0">Academic Performance</h5>
    </div>
    <div class="card-body p-0">
      <table class="table table-sm table-responsive mb-0">
        <thead class="">
          <tr>
            <th>#</th>
            <th scope="col">Academic Year</th>
            <th scope="col">Semester</th>
            <th scope="col">GPA</th>
            <th scope="col">Credits Earned</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>2020-2021</td>
            <td>Semester 1</td>
            <td>3.8</td>
            <td>20</td>
            <td><span class="badge badge-success">Passed</span></td>
          </tr>
          <tr>
            <td>2</td>
            <td>2020-2021</td>
            <td>Semester 2</td>
            <td>3.7</td>
            <td>18</td>
            <td><span class="badge badge-success">Passed</span></td>
          </tr>
          <tr>
            <td>3</td>
            <td>2020-2021</td>
            <td>Semester 3</td>
            <td>3.9</td>
            <td>22</td>
            <td><span class="badge badge-success">Passed</span></td>
          </tr>
          <tr>
            <td>4</td>
            <td>2020-2021</td>
            <td>Semester 4</td>
            <td>3.6</td>
            <td>19</td>
            <td><span class="badge badge-warning">Ongoing</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock content %}