<div class="modal fade" id="enrollApplicantModal{{application.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Enroll Applicant</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'enroll-applicant' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                <input type="number" id="application_id" name="application_id" value="{{application.id}}" hidden readonly required />
                 <div class="row mb-4">
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label fw-bold">Cohort Enrolling Into</label>
                        <select class="form-select" id="cohort_id" name="cohort_id">
                            {% for cohort in cohorts %}
                                <option value="{{cohort.id}}">{{cohort}}</option>
                            {% endfor %}
                        </select>
                    </div>
                 </div>
                 <div class="row mb-4">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Campus Enrolling Into</label>
                    <select class="form-select" id="campus_id" name="campus_id">
                        {% for campus in campuses %}
                            <option value="{{campus.id}}">{{campus}}</option>
                        {% endfor %}
                    </select>
                </div>
                 </div>
            
               
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-success">Enroll Applicant</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>