<div class="modal fade" id="editProgrammeInterestModal{{application.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Edit Programme Interest</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'edit-application' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                <input type="number" id="application_id" name="application_id" value="{{application.id}}" hidden readonly required />
                 <div class="row mb-3">
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label fw-bold">First Choice Programme</label>
                        <select class="form-select" id="first_choice_programme_id" name="first_choice_programme_id">
                            <option value="{{application.first_choice_programme.id}}">{{application.first_choice_programme}}</option>
                            {% for programme in programmes %}
                                {% if programme.id != application.first_choice_programme.id %}
                                    <option value="{{programme.id}}">{{programme}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                 </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label fw-bold">Second Choice Programme</label>
                        <select class="form-select" id="second_choice_programme_id" name="second_choice_programme_id">
                            <option value="{{application.second_choice_programme.id}}">{{application.second_choice_programme}}</option>
                            {% for programme in programmes %}
                                {% if programme.id != application.second_choice_programme.id %}
                                    <option value="{{programme.id}}">{{programme}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label fw-bold">Intake Interested In</label>
                        <select class="form-select" id="intake_id" name="intake_id">
                            <option value="{{application.intake.id}}">{{application.intake.name}}</option>
                            {% for intake in intakes %}
                                {% if intake.id != application.intake.id %}
                                    <option value="{{intake.id}}">{{intake}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
               
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Edit Programme Interest</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>