<nav id="sidebar">
    <div class="sidebar-header d-flex justify-content-between align-items-center">
        <span class="text-white link-text">College ERP</span>
        <button class="hamburger">
            <i class="fas fa-bars"></i>
        </button>
    </div>

    <div class="sidebar-nav">
        <ul class="list-unstyled">
            <li>
                <a href="/">
                    <i class="fas fa-home icon"></i>
                    <span class="link-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-bs-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-briefcase icon"></i>
                    <span class="link-text">Human Resource</span>
                </a>
                <ul class="collapse submenu">
                    <li class="nav-item"><a href="#" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-file-signature"></i> Leave Applications</a></li>
                    <li class="nav-item"><a href="#" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-umbrella-beach"></i> Employee Leaves</a></li>
                    <li class="nav-item"><a href="#" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-calendar-days"></i> Attendances</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-bs-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-user-graduate icon"></i>
                    <span class="link-text">Students</span>
                </a>
                <ul class="collapse submenu">
                    <li class="nav-item"><a href="{% url 'students' %}" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-graduation-cap"></i> Students List</a></li>
                    <li class="nav-item"><a href="#" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-fingerprint"></i> Attendance</a></li>
                    
                </ul>
            </li>
           
            <li>
                <a href="#" class="dropdown-toggle" data-bs-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-chalkboard-teacher icon"></i>
                    <span class="link-text">Faculties</span>
                </a>
                <ul class="collapse submenu">
                    <li class="nav-item"><a href="{% url 'campuses' %}" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-university"></i> Campuses</a></li>
                    <li class="nav-item"><a href="{% url 'schools' %}" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-school"></i> Schools</a></li>
                    <li class="nav-item"><a href="{% url 'departments' %}" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-building"></i> Departments</a></li>
                    <li class="nav-item"><a href="{% url 'programmes' %}" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-graduation-cap"></i> Programmes</a></li>
                    <li class="nav-item"><a href="{% url 'courses' %}" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-book"></i> Courses</a></li>
                    <li class="nav-item"><a href="{% url 'cohorts' %}" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-user-group"></i> Cohorts</a></li>
                    <li class="nav-item"><a href="{% url 'sessions' %}" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-clock"></i> Sessions</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="dropdown-toggle" data-bs-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-clipboard icon"></i>
                    <span class="link-text">Admissions</span>
                </a>
                <ul class="collapse submenu">
                    <li class="nav-item"><a href="#" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-envelope"></i> Applications</a></li>
                    <li class="nav-item"><a href="{% url 'semesters' %}" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-layer-group"></i> Semesters</a></li>

                </ul>
            </li>
            
            <li>
                <a href="#" class="dropdown-toggle" data-bs-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-pencil-alt icon"></i>
                    <span class="link-text">Exams</span>
                </a>
                <ul class="collapse submenu">
                    <li class="nav-item"><a href="{% url 'students-marks' %}" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-star"></i> Students Marks</a></li>
                    <li class="nav-item"><a href="{% url 'transcripts' %}" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-folder-open"></i> Transcripts</a></li>

                </ul>
            </li>
            
    
            <li>
                <a href="#" class="dropdown-toggle" data-bs-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-building icon"></i>
                    <span class="link-text">Hostels</span>
                </a>
                <ul class="collapse submenu">
                    <li class="nav-item"><a href="{% url 'hostels' %}" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-house-user"></i> Hostels</a></li>
                    <li class="nav-item"><a href="{% url 'hostel-rooms' %}" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-bed"></i> Rooms</a></li>
                    <li class="nav-item"><a href="{% url 'bookings' %}" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-calendar-check"></i> Bookings</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-bs-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-ad icon"></i>
                    <span class="link-text">Marketing</span>
                </a>
                <ul class="collapse submenu">
                    <li class="nav-item"><a href="{% url 'leads' %}" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-magnifying-glass"></i> Leads</a></li>
                    <li class="nav-item"><a href="{% url 'tasks' %}" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-tasks"></i> Lead Tasks</a></li>
                    <li class="nav-item"><a href="{% url 'campaigns' %}" class="nav-link d-flex align-items-center gap-2"><i class="fas fa-bullhorn"></i> Campaigns</a></li>
                </ul>
            </li>
            <li>
                <a href="#settings">
                    <i class="fas fa-cog icon"></i>
                    <span class="link-text">Settings</span>
                </a>
            </li>
        </ul>
    </div>
</nav>