<div class="modal fade" id="editCampaignModal{{campaign.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Edit Campaign</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'edit-campaign' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                  <input type="number" id="campaign_id" name="campaign_id" value="{{campaign.id}}" hidden readonly required />
                  <div class="row mb-3">
                <div class="col">
                  <label for="exampleInputPassword1" class="form-label fw-bold">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    value="{{campaign.name}}"
                    required
                  />
                </div>
                </div>

                <div class="row mb-3">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Campaign Type</label>
                    <select class="form-select" id="campaign_type" name="campaign_type">
                        <option value="{{campaign.campaign_type}}">{{campaign.campaign_type}}</option>
                        {% for campaign_type in campaign_types %}
                            {% if campaign_type != campaign.campaign_type %}
                                <option value="{{campaign_type}}">{{campaign_type}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                </div>
               
                <div class="row mb-3">
                <div class="col">
                  <label for="exampleInputPassword1" class="form-label fw-bold">Start Date</label>
                  <input type="date" class="form-control" id="start_date" name="start_date" value="{{campaign.start_date| date:'Y-m-d'}}" />
                </div>
                <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">End Date</label>
                    <input type="date" class="form-control" id="end_date" name="end_date" value="{{campaign.end_date| date:'Y-m-d'}}" />
                  </div>
                </div>

              <div class="row mb-3">
                <div class="col">
                  <label for="exampleInputPassword1" class="form-label fw-bold">Description</label>
                  <textarea class="form-control" id="description" name="description" value="{{campaign.description}}">{{campaign.description}}</textarea>
                </div>
              </div>                
                              
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Edit Campaign</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>