<div class="modal fade" id="completeLeadTaskModal{{task.id}}" tabindex="-1" aria-labelledby="newTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newTransactionModalLabel">Complete Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'mark-task-as-complete' %}">
                    {% csrf_token %}
                    <input type="number" id="task_id" name="task_id" value="{{task.id}}" hidden readonly required />
                    <div class="mb-3">
                        <p>Are you sure you want mark lead task titled <b>{{task.title}}</b> as completed?</p>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Close</button>
                        <button type="submit" class="btn btn-success">Yes, Proceed</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>