<div class="modal fade" id="editHostelRoomModal{{room.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Edit Hostel Room</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'edit-hostel-room' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="number" id="room_id" name="room_id" value="{{room.id}}" hidden readonly required />
        
                <div class="row mb-3">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Room Number</label>
                    <input
                      type="text"
                      class="form-control"
                      id="room_number"
                      name="room_number"
                      value="{{room.room_number}}"
                      required
                    />
                  </div>
                </div>

                <div class="row mb-3">
                <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Room Capacity</label>
                    <input
                        type="number"
                        class="form-control"
                        id="room_capacity"
                        name="room_capacity"
                        value="{{room.room_capacity}}"
                        required
                    />
                    </div>
                </div>
                      
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Edit Hostel Room</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>