{% extends "base1.html" %}

{% block content %}
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title text-center">Room Number: {{room.room_number}}</h5>
    <hr/>
    <div class="row">
      <div class="col">
          <p class="card-text">
              <strong>Hostel:</strong> {{room.hostel}}<br>
              <strong>Capacity:</strong> {{room.room_capacity}}<br>
            </p>
      </div>
      <div class="col">
          <p class="card-text">
              <strong>Occupancy:</strong> {{room.students_assigned}} (<b>{{room.occupancy}}</b>)<br>
              <strong>Fully Booked:</strong> {% if room.room_capacity == room.students_assigned %}Yes {% else %}No {% endif %}<br>
            </p>
      </div>
    </div>
    
  </div>
</div>
<div class="table-card">
  <div class="row py-2 px-2">
    <div class="col">
        <h3>Occupants</h3>
    </div>
    {% if room.fully_booked %}
    {% else %}
    <div class="col text-end">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newRoomOccupantModal{{room.id}}">New Occupant</button>
    </div>
    {% endif %}
</div>
    {% include 'hostels/rooms/add_occupant.html' %}
      <div class="table-container p-3">
        <table class="table data-table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Reg. Number</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
              <th scope="col">Gender</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for student in occupants %}
            <tr>
              <td>{{student.id}}</td>
              <td>{{student.user.name}}</td>
              <td>{{student.registration_number}}</td>
              <td>{{student.user.phone_number}}</td>
              <td>{{student.user.email}}</td>
              <td>{{student.user.gender}}</td>
              <td>
                <div class="d-flex gap-1">
                  <a href="{% url 'student-details' student.id %}" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i></a>
                  <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#removeRoomOccupantModal{{ student.id }}">
                    <i class="fas fa-times-circle"></i>
                  </a>
                </div>
              </td>
              {% include "hostels/rooms/remove_occupant.html" %}
            </tr>
            
            {% endfor %}

          </tbody>
        </table>
       
      </div>
{% endblock content %}